:root{
    --bg:#0f172a;
    --card:#1e293b;
    --text:#e5e7eb;
}

body.light{
    --bg:#f1f5f9;
    --card:#ffffff;
    --text:#0f172a;
}

body{
    margin:0;
    background:var(--bg);
    color:var(--text);
    font-family:Arial, sans-serif;
}

.dashboard{
    display:grid;
    grid-template-columns:180px 1fr;
    grid-template-rows:60px 1fr;
    height:100vh;
}

header{
    grid-column:1 / 3;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 15px;
}

nav{
    background:var(--card);
    padding:15px;
}

main{
    display:grid;
    grid-template-columns:repeat(3, 150px);
    gap:12px;
    padding:15px;
}


.card{
    background:var(--card);
    height:80px;
    padding:10px;
    text-align:center;
    border-radius:6px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:14px;
}


button{
    background:none;
    border:1px solid var(--text);
    color:var(--text);
    padding:6px 12px;
    cursor:pointer;
}

footer{
    text-align:center;
    padding:10px;
}